.ConfirmationPage {
    display: grid;
    gap: 16px;
}

.ConfirmationPage h1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin: 16px, 0px;
    color: rgba(0, 0, 0, 0.9);
}

.ConfirmationPage h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 16px;
}

.ConfirmationPage h3 {
    margin-top: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.ConfirmationPage p {
    margin-top: 8px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, .65);
}

.confirmation-order,
.confirmation-information {
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid #d9d9d9;
    padding: 16px;
    margin: 16px, 0px;
}

.confirmation-order-accepted {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, .65);
}

.confirmation-continue {
    width: 100%;
    margin: 16px 0px;
    color: white;
    background-color: #0a75c2;
    display: revert;
}