* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html, body, #checkout-app, .Checkout {
  min-height: 100vh;
}

#checkout-app {
  width: 100%;
  overflow-x: hidden;
}

.Checkout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
}

.Checkout__Sidebar {
  width: 38%;
  padding: 35px;
  border-left: 1px solid #d9d9d9;
  position: relative;
  background: #fafafa;
}

.Checkout__Sidebar:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  background: inherit;
  height: 100%;
  display: block;
  content: '';
  z-index: -1;
}

.Checkout__Summary,
.Checkout__Main {
  flex: 1;
  padding: 35px;
}

.FieldSet {
  margin: 2rem 0;
  padding: 0;
}

.FieldSet__Header {
  margin-bottom: 20px;
}

.FieldSet__Heading {
  font-size: 20px;
  line-height: 30px;
  padding: 0 5px;
}

.FieldGroup {
  margin: 5px 0;
  display: flex;
}

.Field {
  padding: 5px;
  margin: 0 5px;
}

.SelectField {
  margin: 0 5px;
  display: block;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .Checkout__Sidebar {
    width: 100%;
  }

  .Checkout {
    flex-direction: column;
  }
}