* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#checkout-app {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.Checkout {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  position: relative;
  max-width: 480px;
  background: #ffffff;
}

.Checkout__Summary,
.Checkout__Main {
  flex: 1;
  padding: 32px;
}

.FieldSet {
  margin: 2rem 0;
  padding: 0;
}

.FieldSet__Header {
  margin-bottom: 20px;
}

.FieldSet__Heading {
  font-size: 20px;
  line-height: 30px;
  padding: 0 5px;
}

.FieldGroup {
  display: flex;
  gap: 8px;
}

.Field {
  flex: 1;
}

.SelectField {
  display: block;
  cursor: pointer;
}

.Checkout__Summary {
  background: #fafafb;
}

.SummaryBlock {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.fade-enter {
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: right;
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 150ms, transform 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0, 1);
  transition: opacity 150ms, transform 150ms;
}

h1.Section__Title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.9);
}
