.FieldSet--BillingAddress .RadioButton .stx-field {
  position: unset;
}
.FieldSet--BillingAddress .RadioButton .stx-radio {
  position: unset;
}

.FieldSet--BillingAddress.FieldSet {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.FieldSet--BillingAddress .RadioButton {
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
}

.FieldSet--BillingAddress .FieldSet__Content {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.FieldSet--BillingAddress .RadioButton .stx-checkbox-field__checkbox {
  position: relative;
  left: 0;
  top: 0;
  margin-right: 10px;
}

.FieldSet--BillingAddress .RadioButton .stx-radio-field__label {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
