* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html, body, #checkout-app, .Checkout {
  min-height: 100vh;
}

#checkout-app {
  width: 100%;
  overflow-x: hidden;
}

.Checkout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
}

.Checkout__Sidebar {
  width: 38%;
  padding: 35px;
  border-left: 1px solid #d9d9d9;
  position: relative;
  background: #fafafa;
}

.Checkout__Sidebar:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  background: inherit;
  height: 100%;
  display: block;
  content: '';
  z-index: -1;
}

.Checkout__Summary,
.Checkout__Main {
  flex: 1;
  padding: 35px;
}

.FieldSet {
  margin: 2rem 0;
  padding: 0;
}

.FieldSet__Header {
  margin-bottom: 16px;
}

.FieldSet__Heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

.FieldGroup {
  display: flex;
}

.Field {
  padding: 5px;
}

.SelectField {
  display: block;
  cursor: pointer;
}

.stx-field input, .stx-field select {
  line-height: 30px;
}

.CollapseButton {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .Checkout {
    flex-direction: column;
  }

  .Checkout__Sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    transform: translate(0, calc(100% - 100px));
    transition: all 0.4s ease-in-out;
    border: none;
    z-index: 100;
  }

  .OrderSummary {
    overflow-y: auto;
    padding: 0 35px;
  }

  .CollapseButton {
    height: 100px;
    min-height: 100px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    font-size: 20px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
  }

  .CollapseButton .stx-price__amount {
    font-size: 14px;
    font-weight: normal;
  }

  .Checkout__Sidebar.Checkout__Sidebar--Open {
    transform: translate(0, 0);
  }

  .FieldSet--OrderSummary {
    margin: 0;
  }

  .Checkout__Main {
    padding-bottom: 135px;
  }

  .CollapseButton__title {
    text-align: left;
  }

  .CollapseButton__description {
    text-align: right;
  }

  .CollapseButton svg {
    margin-right: 10px;
    transition: all 0.2s linear;
    transform: rotate(0deg);
  }

  .CollapseButton__title {
    display: flex;
    align-items: center;
  }

  .Checkout__Sidebar--Open .CollapseButton svg {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 600px) {
  .CollapseButton {
    height: 65px;
    min-height: 65px;
    font-size: 14px;
  }

  .Checkout__Sidebar {
    transform: translate(0, calc(100% - 65px));
  }

  .Checkout__Main {
    padding-bottom: 100px;
  }

  .Checkout__ConfirmButton {
    width: 100%;
  }
}
