.bold-oneclick-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
}
  
    .bold-oneclick-inner {
    width: 100%;
    max-width: 950px;
    background: #ECEEF0;
    height: 100%;
    }
  
  .bold-oneclick-inner__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .bold-oneclick-modal .Checkout--Collapsed .Checkout__Main {
    padding: 20px 35px 100px 35px;
  }
  
  .bold-oneclick-inner > .Checkout--Collapsed {
    height: 91%;
  }
  
  #one-click-app .FieldSet__Header {
    margin: 0;
  }
  
  #one-click-app .FieldSet__Heading {
    font-size: 16px;
    padding: 0;
    font-weight: 700;
  }
  
  .Summary__Breakdown {
    border-top: 1px solid #D2D2D2;
  }
  
  .bold-oneclick-modal .Checkout--Collapsed .accordion__content {
    height: 100%;
    padding-bottom: 70px;
  }
  
  .bold-oneclick-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    height: 9%;
    align-items: center;
  }
  
  .bold-oneclick-heading {
    font-weight: 400;
    font-size: 20px;
    color: #0C92F2;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .CartItem__ProductDetails .stx-button__text {
    color: #FC2036;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #FC2036 !important;
  }
  
  .CartItem__QuantityPriceWrapper {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .Checkout__Summary, .Checkout__Summary.Checkout__Summary--Collapsed, .Checkout--Collapsed .Checkout__Summary {
    padding: 0.5rem 1rem;
    height: 70px;
    justify-content: center;
  }
  
  .stx-field--with-radio-field {
    padding-left: 0px;
  }
  
  .RadioButton__AddressInfoContainer .CheckoutStep__FieldSetInfoContainer {
    border: none;
  }
  
  .bold-oneclick-header .circle-times-close-button {
    font-size: 26px;
  }
  .circle-times-close-button {
    cursor: pointer;
  }
  
  .oneclick-chevron-up {
    background-image: url(/../../public/assets/chevron_up.png);
  }
  
  .oneclick-chevron-down {
    background-image: url(/../../public/assets/chevron_down.png);
  }
  
  .OrderProcessed__OrderInformation .OrderInformation__Details--Container {
    flex-direction: column;
  }
  
  .OrderProcessed .OrderProcessed__OrderInformation {
    margin-bottom: 50px;
  }
  
  .CartItem .CartItem__ProductDetails .stx-details__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  
  .CartItem .CartItem__ProductDetails {
    height: 100%;
    justify-content: space-between;
  }
  
  .stx-image--holder {
    padding: 3px;
  }
  
  .CartItem__ProductDetails .stx-button__text {
    line-height: 1.1;
  }
  
  .OrderProcessing {
    height: 100%;
    width: 100%;
  }
  
  @media only screen and (max-device-width: 899px) {
    .bold-oneclick-modal .SummaryBlock::after {
      content: none;
    }
  }
  
@media only screen and (min-device-width: 900px) {
    .bold-oneclick-inner > .Checkout--Collapsed {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;
        min-height: fit-content;
    }
  
    .bold-oneclick-modal .Checkout--Collapsed .Checkout__Main {
        padding: 20px 35px 92px;
    }
  
    .Checkout__Summary.Checkout__Summary--Collapsed {
        padding: 0;
    }
  
    .SummaryContent--wrapper {
        overflow-y: auto;
    }
  
    .Checkout__Summary.Checkout__Summary--Collapsed {
        height: auto;
    }
  
    .Checkout__Summary {
        width: 50%;
    }
  
    .bold-oneclick-modal {
        padding: 40px;
    }
  
    .bold-oneclick-inner {
        height: 85%;
        width: 85%;
    }
  
    .bold-oneclick-modal .Checkout--Collapsed .accordion__content {
        overflow-y: hidden;
        height: 100%;
        padding: 0px 18px;
    }
  
}