ul.AddressList {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
}

li .RadioItem {
  display: flex;
  column-gap: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
  padding: 8px 0;
}

li .RadioItem input {
  margin-top: 4px;
}

.RadioItem__Content > p:first-child {
  color: rgba(0, 0, 0, 0.9);
}

.RadioButton.RadioButton__NewAddressContainer {
  padding: 8px 0;
}

.Shipping__ShippingAddress {
  margin: 16px 0;
}
