.DiscountForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.DiscountForm .stx-field,
.DiscountForm .stx-field--with-input .stx-input {
  margin-bottom: 0;
  max-height: 42px;
}

.DiscountForm .stx-input input {
  line-height: 30px;
}

.DiscountForm button.stx-button {
  margin: 0;
}

.DiscountForm button.stx-button .stx-button__text {
  text-transform: capitalize;
}

.Summary__DiscountForm .DiscountForm__error {
  color: #ff1a2d;
}

.DiscountLink {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #0a75c2;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 8px 0;
  padding: 16px 0;
}

.DiscountLink::before {
  position: relative;
  content: '+';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.DiscountForm__Message {
  grid-column: span 2;
}
