.Inventory__Main {
    padding: 16px 32px;
}

.Inventory__Message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: static;
    border: 1px solid rgba(0,0, 0, 0.2);
    line-height: 20px;
    margin-top: 16px;
    font-family: SF Pro Display;
    font-style: normal;
}

.Inventory__Title {
    color:rgba(0, 0, 0, 0.9);
    margin-bottom: 16px;
    font-size: 18px;
}

.Inventory__Description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);

}

.SoldOut {
    color: #B4002B;
    border: 1px solid #B4002B;
    background-color: #FFEBF0;
    padding: 4px 8px;
}

.Arrow {
    margin: 0px 8px;
    color: rgba(0, 0, 0, 0.65);
    font-size: x-large;
}

.InventoryItem {
    display: flex;
}
.InventoryItem__ProductDetails {
    padding: 0 20px;
    width: 100%;
}

.InventoryItem__ProductQuantityWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.InventoryItem__ProductImageWrapper {
    width: 72px;
    height: 72px;
    padding: 3.6px;
    position: relative;
}

.InventoryItem__RemoveItem {
    width: 16px;
    height: 16px;
    border: none;
    background-color: inherit; 
}

.ReturnLink {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    margin-top: 16px;
}