button.CheckoutButton {
  color: white;
  width: 100%;
  margin: 16px 0;
  background-color: #0a75c2;
}

button.CheckoutButton:disabled {
  background-color: rgba(0, 0, 0, 0.65);
}

button.CheckoutButton__Show {
  visibility: visible;
}

button.CheckoutButton__Hide {
  display:none;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  button.CheckoutButton__Desktop {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .CheckoutButton__Container {
    padding: 0px 32px;
  }
  button.CheckoutButton__Mobile {
    display: none;
  }
}
