<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Checkout</title>
    <link rel="stylesheet" href="/css/checkout.css">
  </head>
  <body>
    <h1>Product Name</h1>
    <img src="https://via.placeholder.com/300" />
    <p>Lorem ipsum</p>
    <button id="quick-checkout-product" data-sku="ABS">Buy Now</button>

    <div id="quick-checkout-app"></div>
    <script src="/js/checkout.js"></script>
  </body>
</html>
