.Card {
  --color-primary: #0A75C2;
  display: grid;
  padding: 16px 0;
  grid-template: "title overview" auto
                 "description action" auto
                 "content content" auto
                / 1fr 1fr;

  &--Shipping {
    gap: 8px;
  }
  
  & .stx-price__amount {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  &__Title {
    grid-area: title;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;

    a, span {
      color: var(--color-primary);    
    }

    button {
      color: var(--color-primary);
      font: inherit;
      text-decoration: inherit;
      border: none;
      background-color: unset;
    }
  }

  &__Overview {
    grid-area: overview;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
  }

  &__Description {
    grid-area: description;
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
  }

  &__Action {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
    color: var(--color-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    & button {
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      border: none;
      background-color: inherit;
    }
  }

  &__Content {
    grid-area: content;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.65);

    & .card-shipping-content {
      display: flex;
      padding-top: 8px;
    }

    & .stx-price__amount {
      padding-left: 4px;
    }
  }

  &:not(.Card--Payment){
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
  }

  &--Payment .Card__Content {
    padding-top: 8px;
  }
}

.hidden {
  display: none;
}
