.Checkout__Confirmation {
  flex: 1;
  padding: 35px;
  display: grid;
  gap: 32px;
  max-width: 500px;
}

.FieldSet.Confirmation__Section {
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.Confirmation__List {
  column-gap: 16px;
  row-gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Checkout__Confirmation .FieldSet__Heading {
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
}

.Confirmation__Section .FieldSet__Content {
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 16px;
}

.Confirmation__Section .Confirmation__List strong {
  margin-bottom: 8px;
  display: block;
  color: rgba(0,0,0,0.9);
}

.Checkout__ContactUs {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.Checkout__Continue--Button {
  width: 100%;
  margin: 0;
  color: white;
  background-color: #0a75c2;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.Payment__List {
  list-style: none;
}

.Confirmation__ListItem p {
  margin-bottom: 8px;
}

.Confirmation__ListItem p:last-child {
  margin-bottom: 0;
}
