.FieldSet--BillingAddress .RadioButton .stx-field {
  position: unset;
}
.FieldSet--BillingAddress .RadioButton .stx-radio {
  position: unset;
}

.FieldSet--BillingAddress.FieldSet {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.FieldSet--BillingAddress .RadioButton {
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
}

.FieldSet--BillingAddress .FieldSet__Content .stx-checkbox-field__div {
  display: flex;
}

.FieldSet--BillingAddress .RadioButton .stx-checkbox-field__checkbox {
  position: relative;
  margin-right: 10px;
}

.FieldSet--BillingAddress .RadioButton .stx-checkbox-field__label {
  height: 100%;
  cursor: pointer;
  width: 100%;
  color: #000;
}

.Billing__Title {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: rgba(0, 0, 0, .9);
  margin-bottom: 4px;
}